<div class="navigation-side">
  <div class="navigation-side-elem top-level"
    *ngFor="let parentTitle of Object.keys(this.learnRouting.TheoryStructure)"
    #parentElem (click)="revealChildren(parentElem)"
  >
    <div class="content">
      <div class="navigation-side-title">
        <span class="material-symbols-rounded icon">chevron_right</span>
        {{ parentTitle }}
      </div>
    </div>

    <div class="children-expand-animation-container">
      <div class="children">
        <div class="child"
          *ngFor="let childTitle of Object.keys(this.learnRouting.TheoryStructure[parentTitle])"
          [routerLink]="'../../' + this.learnRouting.makeURLSafe(parentTitle) + '/' + this.learnRouting.makeURLSafe(childTitle)"
        >
          <div class="content">
            <div class="navigation-side-title"><a>{{ childTitle }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

