<learn-page-template>


<h1 id="prepositions">Prepositions</h1>

<h2 id="gen-prepos">With Genitive</h2>
<p>
    Prepositions are used, which imply movement away or out of a location.
    <br>
    <i class="note">
        (And really, that just happens to include the better part of all the prepositions
        in Interslavic.)
    </i>
</p>
<ul style="columns: 2;">
    <li><strong>iz</strong> – from, out of</li>
    <li><strong>iz-medžu</strong> – from between</li>
    <li><strong>iz-nad</strong> – from above</li>
    <li><strong>iz-pod</strong> – from under</li>
    <li><strong>iz-prěd</strong> – from before</li>
    <li><strong>iz-srěd</strong> – from among</li>
    <li><strong>iz-za</strong> – from behind</li>
    <li><strong>od</strong> – of, from (away from); since; by (agent)</li>
    <li><strong>u</strong> – at, at the place of</li>
</ul>
<p>Which includes prepositions for relative location,</p>
<ul style="columns: 2;">
    <li><strong>blizko</strong> – near, close to</li>
    <li><strong>kolo</strong> – next to, around</li>
    <li><strong>naprotiv</strong> – opposite</li>
    <li><strong>okolo</strong> – around; about, approximately</li>
    <li><strong>podle</strong> – near, beside</li>
    <li><strong>pored</strong> – next to</li>
    <li><strong>posrěd</strong> – amidst, in the middle of, among</li>
    <li><strong>povrh</strong> – to the upper side of, atop</li>
    <li><strong>srěd</strong> – among, amid</li>
    <li><strong>vně</strong> – outside of</li>
    <li><strong>vnutri</strong> – inside, within</li>
</ul>
<p>For movement relative to the object,</p>
<ul>
    <li><strong>mimo</strong> – past, by</li>
    <li><strong>poprěk</strong> – across</li>
    <li><strong>vdolž</strong> – along</li>
</ul>
<p>For time,</p>
<ul>
    <li><strong>podčas</strong> – during, so long as</li>
    <li><strong>poslě</strong> – after</li>
    <li><strong>za</strong> – during, in times of</li>
</ul>
<p>And some other miscellaneous grammatical prepositions:</p>
<ul style="columns: 2;">
    <li><strong>bez</strong> – without</li>
    <li><strong>dlja</strong> – for</li>
    <li><strong>do</strong> – to, till</li>
    <li><strong>kromě</strong> – except</li>
    <li><strong>odnosno</strong> – concering, about</li>
    <li><strong>pomimo</strong> – in spite of, despite</li>
    <li><strong>posrědstvom</strong> – by means of, using</li>
    <li><strong>suprotiv</strong> – contrary to</li>
    <li><strong>vměsto</strong> – instead of</li>
    <li><strong>vslěd</strong> – following, because of, as a result of</li>
</ul>


<h2 id="acc-prepos">With Accusative</h2>
<p>Prepositions are used, which imply movement towards/into/through a location:</p>
<ul>
    <li><strong>črěz, prěz</strong> – through, across, via</li>
    <li><strong>po</strong> – for (in pursuit of, to get something); for (the Xth time); up to</li>
    <li><strong>za</strong> – for, because of, due to, in exchange for, in favour of, instead of</li>
</ul>


<h2 id="dat-prepos">With Dative</h2>
<p>
    Prepositions, implying the <i>action</i> is directed towards
    something/someone
    <br>
    <i>(similarly to the meaning of the case itself)</i>
    <br>
    <i class="note">
        (And if you'll notice, most of the English translations
        end in “to” as well)
    </i>
</p>
<ul>
    <li><strong>blagodare, dekujuči, hvala</strong> – thanks to</li>
    <li><strong>k, ko</strong> – to, towards (direction)</li>
    <li><strong>po</strong> – according to, per, by</li>
    <li><strong>po</strong> – for ... each, for ... a piece</li>
    <li><strong>protiv</strong> – against</li>
    <li><strong>soglasno, suglasno</strong> – according to</li>
</ul>

<h2 id="ins-prepos">With Instrumental</h2>
<p>
    Similar to the meaning of the case itself, the prepositions imply
    a method or accompaniment.
</p>
<ul>
    <li><strong>s, so</strong> – with, together with; by means of, using </li>
    <li><strong>ponad</strong> – above, beyond</li>
</ul>

<h2 id="loc-prepos">With Locative</h2>
<p>The Locative is used with the following prepositions:</p>
<ul>
    <li><strong>o, ob</strong> – about; concerning, regarding</li>
    <li><strong>po</strong> – after, following; along(side); throughout, round, all over</li>
    <li><strong>pri</strong> – near; during (rule of a king)</li>
</ul>

<h2 id="acc-ins">With Accusative and Instrumental</h2>
<p>
    There are five prepositions for place (and time) in Interslavic,
    which can take either the Accusative or Instrumental case. Which
    case is used depends on the meaning:
</p>
<p>
    The Instrumental is used when the location is stable. For example:
</p>
<i><q>Kot <u>spi</u> pod <strong>stol</strong>.</q></i>
<br>
<i><q>The cat <u>is sleeping</u> under <strong>the table</strong>.</q> (Instrumental)</i>
<p>
    And the Accusative is used when there is an implied movement to or
    from the location. Like:
</p>
<i><q>Kot <u>poběgl</u> pod <strong>stolom</strong>.</q></i>
<br>
<i><q>The cat <u>fled to</u> under <strong>the table</strong>.</q> (Accusative)</i>
<p>
    The prepositions are:
</p>
<ul style="columns: 2;">
    <li><strong>medžu</strong> – between (place & time)</li>
    <li><strong>nad</strong> – above, over, beyond</li>
    <li><strong>pod</strong> – under</li>
    <li><strong>prěd</strong> – before, in front of, ahead of (place & time), prior to, ago</li>
    <li><strong>za</strong> – behind (place), after (time) </li>
</ul>

<h2 id="loc-acc">With Locative and Accusative </h2>
<p>
    The below two prepositions work the same way as the above, only that
    (more logically) the Locative is used instead of the Accusative
    when the location is stable.
</p>
<i><q>Kot spi <strong>na stolu</strong></q></i>
<br>
<i><q>The cat is sleeping <strong>on the table</strong></q> (Locative)</i>
<br>
<br>
<i><q>Kot <u>poběgl</u> na <strong>stol</strong></q></i>
<br>
<i><q>The cat <u>fled</u>&nbsp;<strong>onto</strong> the table</q> (Accusative)</i>
<p>
    The prepositions are:
</p>
<ul style="columns: 2;">
    <li><strong>na</strong> (+ Locative) – <u>on</u>, at</li>
	<li><strong>v, vo</strong> (+ Locative) – <u>in</u>, within</li>
    <li><strong>na</strong> (+ Accusative) – <u>onto</u>, unto</li>
	<li><strong>v, vo</strong> (+ Accusative) – <u>into</u></li>
</ul>

<h2 id="prep-cons">Prepositional constructions</h2>
<p>
    These are not prepositions in and of themselves, but rather
    constructions of words, usually requiring a special case (similarly
    to prepositions), which are often used (and treated)
    as a preposition.
</p>
<p>
    To give a similar example in English: The phrases
    “with regards to” or “with the help of”. They aren't prepositions,
    but usually are treated as one singular block.
</p>
<i class="note">
    And if you think about it, those also require a special case in English,
    when it comes to pronouns:
    <br>
    “with regards to <strong>him</strong>”, not
    <br>
    “with regards to <strong>he</strong>”
</i>
<p>
    And like before there are a couple of different case uses, depending
    on the construction. (Don't worry, they all make sense). So let's
    look through them:
</p>
<h3>Genitive</h3>
<p>
    These are once again, with the Genitive, <i>most</i> of the constructions
    in Interslavic.
</p>
<p>
    Here the important thing to remember, to keep an intuition for the cases,
    is the correspondance between the English “of” and the Interslavic Genitive
    case.
    <i class="note">
        (Remember this icon?
        <span class="material-symbols-rounded">table_lamp</span>)
    </i>
    And once again, notice that most of the English translations end in “of”.
</p>
<ul style="columns: 2;">
    <li><strong>s izključenjem</strong> – except, with the exception of</li>
    <li><strong>s pomočju</strong> – with the help of</li>
    <li><strong>v imenu</strong> – in the name of</li>
    <li><strong>v obličju</strong> – in the face of</li>
    <li><strong>v smyslu</strong> – in the sense of</li>
    <li><strong>v času</strong> – during <i>(Lit. “In the hour of”)</i></li>
    <li><strong>v těčenju</strong> – during <i>(Lit. “In the flow of”)</i></li>
    <li><strong>v vrěmenu</strong> – during <i>(Lit. “In the time of”)</i></li>
    <li><strong>čto se tyče</strong> – regarding, with regard to</li>
    <li><strong>pod vodstvom</strong> – under leadership of</li>
    <li><strong>na prěkor</strong> – in defiance of</li>
    <li><strong>od strany</strong> – by, on the part of</li>
    <li><strong>v ramah, v ramkah</strong> – within the framework of, as a part of</li>
    <li><strong>v odrazlikě <i>od</i></strong> – unlike, in contrast to</li>
    <li><strong>v različju <i>od</i></strong> – unlike, in difference to</li>
    <li><strong>susedno <i>do</i></strong> – next to, neighbouring to</li>
</ul>
<p>
    The last three have the Genitive simply because the last word
    of the construction is a preposition requiring the Genitive. I've marked
    this with <strong><i>italics</i></strong>.
</p>
<h3>Accusative</h3>
<p>
    Similarly, the following constructions are used with Accusative, simply
    because of the ending preposition. This pattern holds for Dative and
    Instrumental so I won't repeat it again in those places.
</p>
<ul>
    <li><strong>bez obzira <i>na</i></strong> – regardless</li>
    <li><strong>s obzirom <i>na</i></strong> – with regard to</li>
    <li><strong>v zaměn <i>za</i></strong> – instead of, in exchange for</li>
    <li><strong>ne gledajuči <i>na</i></strong> – disregarding, despite, in spite of, notwithstanding</li>
</ul>
<h3>Dative</h3>
<ul>
    <li><strong>po odnošenju <i>k</i></strong> – regarding, with regard <i>to</i></li>
    <li><strong>v odnošenju <i>k</i></strong> – regarding, with regard <i>to</i></li>
    <li><strong>v protivnosti <i>k</i></strong> – unlike, in opposition <i>to</i></li>
</ul>
<h3>Instrumental</h3>
<ul>
    <li><strong>sgodno <i>s</i></strong> – conforming <i>with</i></li>
    <li><strong>v svezi <i>s</i></strong> – in connection <i>with</i></li>
</ul>


</learn-page-template>
