<div id="topbar">
    <div id="settings"><button routerLink="/home" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page">Home</button></div>
    <div id="settings"><button routerLink="/level-1" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page">Level 1</button></div>
    <div id="settings"><button routerLink="/settings" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page">Settings</button></div>
    <div id="settings"><button routerLink="/help" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page">Help</button></div>
</div>
