@use "sass:map";

@import 'src/variables';


#topbar, #topbar>* {

    background-color: #00000000;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: fit-content;

    font-size: $font-size;
}

#topbar {

    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: solid 1px var(--border);
    // border-bottom: rgba(255, 255, 255, 0.1) solid 1px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    button {
        background-color: var(--background);
        color: var(--text);
        padding: 0.5rem;
        border: none;
        height: 100%;
        
        font-size: $font-size * 0.8;
        font-weight: 500;

        transition: all 150ms ease-in-out;

        border-radius: 6px;

        // &:hover {
        //     // background-color: darken(var(--background), 10%);
        //     background-color: var(--accent);
        //     color: var(--background);
        // }

        &:hover {
            // background-color: darken(var(--background), 10%);
            // color: $themeen(var(--text), 20%);
            // color: darken(var(--background), 35%);
            color: var(--alt-background);
        }
    }
}