@use "sass:map";

@import '../../variables';


#topbar, #topbar>* {

    background-color: #00000000;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: fit-content;

    font-size: var(--font-size-topbar);
}

#topbar {

    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: solid 1px var(--border);
    // border-bottom: rgba(255, 255, 255, 0.1) solid 1px;

    background-color: var(--background);

    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;

    button {

        background-color: var(--background);
        color: var(--accent);
        color: var(--text);

        height: 100%;


        // border-radius: 6px;

        // &:hover {
        //     // background-color: darken(var(--background), 10%);
        //     background-color: var(--accent);
        //     color: var(--background);
        // }


        &.current-page {
            background-color: var(--background);
            color: var(--text);
            color: var(--accent);
            border-bottom: 0.1rem solid var(--text);
            border-bottom: 0.1rem solid var(--accent);
        }
    }
}

@media (hover: hover) {
    #topbar {
        &:hover {
            background-color: var(--background);
            color: var(--alt-background);
        }
    }
}

// bigger screens
@media only screen and (min-width: $main-element-width--phone) {
    #topbar {
        div > button > span.text {
            display: inline;
        }
        div > button > span.icon {
            display: none !important;
        }
    }
}

// phone screens
@media only screen and (max-width: $main-element-width--phone) {
    #topbar {
        justify-content: space-around;


        // shadow for light mode, border for dark mode.
        // (see light mode overrides in styles.scss)
        box-shadow: none;
        border-top: 0.1rem solid var(--border);

        >* {
            &.text {
                display: none;
            }
            &.icon{
                display: flex;
            }
        }

        #learn {
          order: -1;
        }

        &.showtext-mobile {
            button {
                display: flex;
                flex-flow: column-reverse nowrap;
                justify-content: center;
                align-items: center;

                span.text {
                    display: flex;
                }
            }
        }
    }
}
