<div id="topbar">
    <div class="text" id="home"><button routerLink="/home" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page">Home</button></div>
    <div class="text" id="settings"><button routerLink="/settings" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page">Settings</button></div>
    <div class="text" id="learn"><button routerLink="/learn" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page">Learn</button></div>

    <div class="icon" id="home"><button routerLink="/home" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page"><span class="material-symbols-rounded">home</span></button></div>
    <div class="icon" id="settings"><button routerLink="/settings" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page"><span class="material-symbols-rounded">settings</span></button></div>
    <div class="icon" id="learn"><button routerLink="/learn" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page"><span class="material-symbols-rounded">school</span></button></div>
</div>
