<div id="topbar" class="showtext-mobile">
    <div id="home"><button routerLink="/home" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page"><span class="text">Home</span><span class="material-symbols-rounded icon">home</span></button></div>
    <div id="settings"><button routerLink="/settings" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page"><span class="text">Settings</span><span class="material-symbols-rounded icon">settings</span></button></div>
    <div id="learn"><button routerLink="/learn" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="current-page"><span class="text">Learn</span><span class="material-symbols-rounded icon">school</span></button></div>
</div>
