<learn-page-template>


<h1>History of Slavic Languages</h1>

<p class="note">
<b>
    (Sidenote: if you don't really care about any of
    this and just want to learn the language, skip to
    the next section of this blog: <a [routerLink]="'/learn/theory/cases'"><q>Cases</q></a>)
</b>
</p>

<h2 id="PIE">Do you like PIE?</h2>
<p>
  Pie is great, but PIE is what we're here to talk about.
  What the heck am I talking about?!
</p>
<p>
  PIE stands for Proto-Indo-European. Believe it or not,
  this single language is the mother (or father) language
  of almost all the languages that we speak today in Europe
  and Asia. It's what explains English <q>mother</q>, Spanish
  <q>madre</q>, Serbian <q>матер</q> (<q>mater</q>), Latvian <q>māte</q>, Bangla
  <q>মা</q>
  (mā), etc. all sounding like basically the same word.
  If you still don't believe me (which you shouldn't, so
  easily), here is a massive table of such collerations:
</p>
<div class="table-wrapper-no-overflow">
<table>
  <thead>
    <tr>
      <th>English</th>
      <th>mother</th>
      <th>father</th>
      <th>brother</th>
      <th>sister</th>
      <th>sit</th>
      <th>two</th>
      <th>three</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>German</td>
      <td class="accent">Mutter</td>
      <td class="accent">Vater</td>
      <td class="accent">Bruder</td>
      <td class="accent">Schwester</td>
      <td class="accent">sitzen</td>
      <td class="accent">zwei</td>
      <td class="accent">drei</td>
    </tr>
    <tr>
      <td>Latin</td>
      <td class="accent">mater</td>
      <td class="accent">pater</td>
      <td class="accent">frater</td>
      <td class="primary">soror</td>
      <td class="accent">sedeo</td>
      <td class="accent">duo</td>
      <td class="accent">tres</td>
    </tr>
    <tr>
      <td>Italian</td>
      <td class="accent">madre</td>
      <td class="accent">padre</td>
      <td class="accent">fratello</td>
      <td class="primary">sorella</td>
      <td class="accent">sedersi</td>
      <td class="accent">due</td>
      <td class="accent">tre</td>
    </tr>
    <tr>
      <td>Spanish</td>
      <td class="accent">madre</td>
      <td class="accent">padre</td>
      <td>hermano</td>
      <td>hermana</td>
      <td class="accent">sentarse</td>
      <td class="accent">dos</td>
      <td class="accent">tres</td>
    </tr>
    <tr>
      <td>Latvian</td>
      <td class="accent">māte</td>
      <td>tēvs</td>
      <td class="accent">brālis</td>
      <td>māsa</td>
      <td class="accent">sēdēt</td>
      <td class="accent">divi</td>
      <td class="accent">trīs</td>
    </tr>
    <tr lang="sr">
      <td>Serbian</td>
      <td class="accent">матер<br>(mater)</td>
      <td class="primary">отац<br>(otac)</td>
      <td class="accent">брат<br>(brat)</td>
      <td class="accent">сестра<br>(sestra)</td>
      <td class="accent">седети<br>(sedeti)</td>
      <td class="accent">два<br>(dva)</td>
      <td class="accent">три<br>(tri)</td>
    </tr>
    <tr lang="ru">
      <td>Russian</td>
      <td class="accent">мать<br>(mat')</td>
      <td class="primary">отец<br>(otec)</td>
      <td class="accent">брат<br>(brat)</td>
      <td class="accent">сестра<br>(sestra)</td>
      <td class="accent">сидеть<br>(sidet')</td>
      <td class="accent">два<br>(dva)</td>
      <td class="accent">три<br>(tri)</td>
    </tr>
    <tr>
      <td>Bangla</td>
      <td class="accent">মা<br>(Mā)</td>
      <td class="accent">পিতা<br>(Pitā)</td>
      <td class="accent">ভাই<br>(Bhā'i)</td>
      <td>বোন<br>(Bōna)</td>
      <td>বসা<br>(Basā)</td>
      <td class="accent">দুই<br>(Du'i)</td>
      <td>তিন<br>(Tina)</td>
    </tr>
    <tr>
      <td>Hindi</td>
      <td class="accent">माँ<br>(maan)</td>
      <td class="accent">पिता<br>(pita)</td>
      <td class="accent">भाई<br>(bhaee)</td>
      <td>बहन<br>(bahan)</td>
      <td>बैठना<br>(baithana)</td>
      <td class="accent">दो<br>(do)</td>
      <td>तीन<br>(teen)</td>
    </tr>
  </tbody>
</table>
</div>

<p>
  As you can see, apart from a few exceptions,
  all of the words share some sort of common form.
  For example, the <q>mother</q> words share the form
  <q>ma(t)-(r)</q>, <q>father</q> –
  <q>p-d-(r)</q> or <q>f/b-t-(r)</q>.
</p>
<p>
  People aren't stupid, of course. They noticed all
  this and figured that there must have been some sort
  of common ancestor to all of these languages, given
  how far away some of them are, yet how similar some
  of their vocabulary is. And through a process called
  <q>reconstruction</q> they... <i>reconstructed...</i>
  this common ancestor &ndash; <b>Proto-Indo-European!</b>
  Well... it's more compilcated than that, of course.
</p>
<p>
    You see, they noticed that some languages are more
    similar than others. Take for example from the table
    above Italian and Spanish <q>padre</q>, but Serbian
    and Russian "otac/otec" <i>(the <q>c</q> is
    pronounced like the <q>zz</q> in <q>pizza</q>,
    btw)</i>. So maybe these smaller groups of languages
    have their own proto-languages and those bigger
    proto-languages are all related to this one big ancestor
    &ndash; <b><q>Proto-Indo-European.</q></b> And this
    actually makes a lot of sense when you think about it;
    Especially given that these languages all seem to be
    geographically close to eachother. Tribes move around and
    seperate into different groups all the time. They split
    up, part ways, evolve in different timeframes, different
    periods, and <i>most crucially, </i> <b>evolve their
    languages and dialects in different ways at different
    times.</b>
</p>
<p>
    Imagine a big ancient tribe called <q>Proto-Colors</q>.
    A beautiful united tribe, speaking a common tongue.
</p>
<img src="../../../../../assets/proto-colors_only-protocolors.png" />
<p>
    Now imagine that there is some unrest between the warm
    colors and the cold colors of this tribe. So the tribe
    splits in two! They split into <q>Proto-Reds</q> and
    <q>Proto-Blues</q>.
</p>
<img src="../../../../../assets/proto-colors_proto-red-and-blue.png" />
<p>
    When these two split up, in an effort
    to distinguish themselves from one another, they start
    speaking (deliberately or not) in different ways. With
    generations and generations being born, what was back
    then a small difference, which could be described as
    dialectical peculiarities, now becomes so drastic and so
    widespread, that the two tribes can now be said to be
    speaking different languages!
</p>
<img src="../../../../../assets/proto-colors_proto-red-and-blue-language.png" />
<p>
    You can imagine that various tensions occur again between
    the two groups' members. The reds split into reds and
    oranges, get into a civil war, and the oranges beat the
    reds and become the defacto red state <i>(ignore how
    blatantly racist this color analogy sounds)</i>. A similar
    thing happens with the blues, but this time the two
    communities learn to accept their differences and live
    in peace. Again, their language drifts into dialects, and
    finally into two different languages.
</p>
<img src="../../../../../assets/proto-colors_whole.png" />
<p>
    Which leads us to the present day. After all these millenia
    and historical events, the days of <b><q>Proto-Colors</q></b>
    seem old and bygone. All we have this day are a bunch of
    scattered languages which sound similar but whith no attested
    ancestor. This is exactly the situation that we find ourselves
    in today. But thanks to some very smart people, we are able
    to get a glimpse into these Proto-, unattested languages.
</p>
<p>
    And I'd like to reïterate here that these are not some
    hand-wavy <q>theories</q>; Yes &ndash; these languages are
    <b>unattested</b>, meaning that their existance hasn't been
    confirmed with any direct evidence like manuscripts or remaining
    speakers, but  the overwhelming amount of facts of our current
    world all point to these Proto-Languages' existances.
</p>
<p>
    And that's
    all that <q>Proto-</q> means. An <b>unattested</b> language <i>(
    in our case, Proto-Colors, -Reds, and -Blues)</i>, whose
    existance is <i>heavily</i> implied by existing <b>attested</b>
    languages <i>(in our case, orangese, limearian, oceanoidean, and the
    extinct yellowish)</i>.
</p>


<h2 id="protoslavic">Proto-Slavic</h2>
<p class="paragraph-case">
    Proto-Slavic is the grandmother language to all of the slavic
    languages. Similarly to our Proto-Bluese, it is an unattested
    language, whose existance is heavily implied by its grandchildren.
</p>

</learn-page-template>
