@import "../../variables";

.segmented-single-selection {

    overflow: hidden;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    border: solid 0.07rem var(--border);
    background-color: var(--border);



    width: 75%;
    border-radius: 1rem;
    gap: 0.07rem;

    align-items: stretch;

    >* {
        flex: 1 1 0;
        // height: 100%;
        padding: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// larger screens
@media only screen and (min-width: #{$screen-size--laptop}) {
    .segmented-single-selection {
        width: 75%;
    }
}

// smaller screens
@media only screen and (max-width: $main-element-width--laptop) {
    .segmented-single-selection {
        width: 100%;
    }
}