<learn-page-template>

<p class="note">This page is a work in progress.</p>

<h1>Glossary</h1>
<p>
    I do realize that not everybody reading this has
    english as their first or native language. Or at
    the very least aren't in the Interslavic and/or
    linguistics community. And therefore may not know
    some of the abbreviations/sortenings/terms that
    I use in this series. This is why I made this page.
</p>
<h2 id="common">Common English (Latin) shortenings</h2>
<p>
    These are shortenings or abbreviations, which are
    very common in any English text, and so these aren't
    exclusive only to this blog. They most comonly come
    from latin (which I've shown with <i><q>lat.</q></i>)
    because... well... 18th century English scholars were
    massive fanboys for the completely dead language Latin...
    What can you do.
</p>
<!--
<p class="note">
    Before said Latin fanboys get mad at me, this is not
    a direct translation of the Latin phrases, but rather
    a simple way of communicating their meanings.
</p>
-->
<ul style="columns: 2;">
  <li><q>etc.</q> &ndash; and so on <i>(lat. <q>et cetera</q>)</i></li>
  <li><q>e.g.</q> &ndash; for example <i>(lat. <q>exempli gratia</q>)</i></li>
  <li><q>i.e.</q> &ndash; that is... <i>(lat. <q>id est</q>)</i></li>
  <li><q>c., ca.</q> &ndash; around <i>(lat. <q>circa</q>)</i></li>
  <li><q>et al.</q> &ndash; and the others <i>(lat. <q>et alli</q>)</i></li>
  <li><q>no., №</q> &ndash; number <i>(lat. <q>numero</q>)</i></li>
  <li><q>sic</q> &ndash; quoted as-is, the mistake is part of the original <i>(lat. <q>sic</q>)</i></li>

</ul>


</learn-page-template>
