<learn-page-template>



<h3><i>Wait, what are the “subject” and “direct object”?</i></h3>
<div class="example">
  <p>
    Take the English example <u>“I saw my friend.”</u>
  </p>
  <p>
    Here,

    <br>

    <i>“I”</i> is the <strong><i>subject</i></strong>
    <i class="note"> (the person who is doing the seeing)</i>, and

    <br>

    <i>“my friend”</i> is the <strong><i>direct object</i></strong>
    <i class="note"> (the person being seen)</i>
  </p>
  <p>
    Therefore,
    <br>
    <i>“I”</i> would take the <u style="text-decoration: solid underline;"><strong>Nominative</strong></u>, and
    <br>
    <i>“my friend”</i> would take the <u style="text-decoration: wavy underline;"><strong>Accusative</strong></u>.
  </p>
  <p><strong><q><u style="text-decoration: solid underline;">I</u> saw <u style="text-decoration: wavy underline;">my friend</u></q></strong></p>
  <p><strong><q><u style="text-decoration: solid underline;">Ja</u> viděl <u style="text-decoration: wavy underline;">mojego prijatelja</u></q></strong></p>
  <p>
    And finally notice we can replace with “him” here:
  </p>
  <p><strong><q><u style="text-decoration: solid underline;">I</u> saw <u style="text-decoration: wavy underline;">him</u> (my friend)</q></strong></p>
</div>

<div class="example">
  <p>
    Again take an English example <u>“I gave the book to my friend.”</u>
  </p>
  <p>
    Here,

    <br>

    <i>“I”</i> is the <strong><i>subject</i></strong>
    <i class="note"> (the person who is doing the giving)</i>,
    <br>
    <i>“the book”</i> is the <strong><i>direct object</i></strong>
    <i class="note"> (the thing being given)</i>, AND
    <br>
    <i>“my friend”</i> is the <strong><i>indirect object</i></strong>
    <i class="note"> (the person <strong>to whom</strong> the book is being given)</i>
  </p>
  <p>
    Therefore,
    <br>
    <i>“I”</i> would take the <u style="text-decoration: solid underline;"><strong>Nominative</strong></u>,
    <br>
    <i>“the book”</i> would take the <u style="text-decoration: wavy underline;"><strong>Accusative</strong></u>, and
    <br>
    <i>“my friend”</i> would take the <u style="text-decoration: double underline;"><strong>Dative</strong></u>.
  </p>
  <p><strong><q>
      <u style="text-decoration: solid underline;">I</u> gave
      <u style="text-decoration: wavy underline;">the book</u>&nbsp;
      <u style="text-decoration: double underline">to my friend</u>
  </q></strong></p>
  <p><strong><q>
      <u style="text-decoration: solid underline;">Ja</u>
      dal <u style="text-decoration: wavy underline;">knigų</u>&nbsp;
      <u style="text-decoration: double underline">mojemu prijatelju</u>
  </q></strong></p>
  <p>And notice we can replace with “<u>to</u> him” here:</p>
  <p><strong><q>
      <u style="text-decoration: solid underline;">I</u> gave
      <u style="text-decoration: wavy underline;">the book</u>&nbsp;
      <u style="text-decoration: double underline">to him</u>
  </q></strong></p>
</div>



</learn-page-template>
