@import '../../variables';

div.big-help-page-wrapper {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    // larger screens
    @media only screen and (min-width: $screen-size--laptop) {
        
        div.small-help-page-wrapper {
            width: 85%;
        }
    }
    
    // tablet screens
    @media only screen and (max-width: $main-element-width--laptop) {
        
        div.small-help-page-wrapper {
            width: 100%;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    text-align: start;
} h1 {
    text-indent: 2rem;
} h2 {
    text-indent: 4rem;
} h3 {
    text-indent: 5rem;
    margin: 1rem auto;
} h4, h5, h6 {
    text-indent: 5.5rem;
    margin: 1rem auto;
}

p {
    text-indent: 1.5rem;
    // margin-top: 0;
}