<div class="big-help-page-wrapper">
    <div class="small-help-page-wrapper">

    <!-- <app-page-navigation-menu currpage="learn/theory" [navs]="[
        {id: 'cases', title: 'Cases', subheadings: [
            {id: 'what-are-cases', title: 'What are cases?'},
            {id: 'nom', title: 'Nominative'},
            {id: 'acc', title: 'Accusative'},
            {id: 'gen', title: 'Genitive'},
            {id: 'loc', title: 'Locative'},
            {id: 'dat', title: 'Dative'},
            {id: 'ins', title: 'Instrumental'},
            {id: 'voc', title: 'Vocative'},
        ]},
        {id: 'writing', title: 'How do I write Interslavic?', subheadings: [
            {id: 'keyboards', title: 'Keyboard Layouts for Windows, GBoard, and more'},
        ]},
        {id: 'links', title: 'Useful links and other learning materials'}
    ]"></app-page-navigation-menu> -->


<h1 id="cases">Cases</h1>
<h2 id="what-are-cases">What are cases?</h2>
<p>
    In most Slavic languages, alongside with grammatical gender (like in
    languages such as German and Spanish) and grammatical number (which
    you are surely familiar with), there is a declension category called a
    “Case.” These cases help communicate the
    <app-phrase-with-more-info phrase="syntactical role">
    </app-phrase-with-more-info>
    of any given word in a given sentence.
</p>
<app-phrase-explaination explaination
="The syntactical role expresses how a word in a sentence relates to
the others with regards to the action. Basically stuff like the subject
and object of a sentence. And if you don't know what that is, the
subject is the one who is performing the action (the verb), and the
object is the one recieving it. In Slavic languages, this idea extends to
posession, location, and even method/instrument as you'll read futher."
></app-phrase-explaination>
<p>
    And a lot of the times when there is a
    <app-phrase-with-more-info phrase="preposition"></app-phrase-with-more-info>
    before a word, the word takes a special case. As you'll see in the
    <a routerLink="/learn/theory/prepositions">Prepositions</a> section.
    <strong class="note">
        (Don't go there yet! You still need to understand cases.)
    </strong>
</p>

<app-phrase-explaination explaination
="Prepositions are words like english “to” “from” “towards” “on”
“with” “at” “on” “in” and so on."
></app-phrase-explaination>

<h2 id="nom">Nominative</h2>
<p>
    The default case. It is used in the dictionary form
    <i>(“lemma form”)</i> of words and when the word in question
    is the <app-phrase-with-more-info phrase="subject of a sentence">
    </app-phrase-with-more-info>.
</p>

<h2 id="acc">Accusative</h2>
<p>
    This is the case of the <app-phrase-with-more-info phrase="direct object">
    </app-phrase-with-more-info>. It is used when the word in question is
    the direct recipient of the action.
</p>

<h2 id="dat">Dative</h2>
<p>
    Dative is the case of the <app-phrase-with-more-info phrase="indirect object">
    </app-phrase-with-more-info>. <strong>To</strong> whom the action is being
    commited. The most common example is with phrases relating to giving
    something <strong>to</strong> someone.
</p>
<h3>And here is where I answer the last three question marks.
    <br>
    Pay attention. This is key to understanding syntactical function:
</h3>
<p>
    Take the English example <u><q>I gave the book to my friend.</q></u>
</p>
<p>
    Here,

    <br>

    <i>“I”</i> is the <strong><i>subject</i></strong>
    <i class="note"> (the person who is doing the giving)</i>,

    <br>

    <i>“the book”</i> is the <strong><i>direct object</i></strong>
    <i class="note"> (the thing being given)</i>, and

    <br>

    <i>“my friend”</i> is the <strong><i>indirect object</i></strong>
    <i class="note"> (the person, <strong><i>to whom</i></strong> the book is being given)</i>.
</p>
<p>
    Therefore,
    <br>
    <i>“I”</i> would take the <u><strong>Nominative</strong></u>,
    <br>
    <i>“the book”</i> would take the <u style="text-decoration: double underline;"><strong>Accusative</strong></u>, and
    <br>
    <i>“my friend”</i> would take the <u style="text-decoration: wavy underline;"><strong>Dative</strong></u>.
</p>
<p><strong><q><u>I</u> gave <u style="text-decoration: double underline;">the book</u>&nbsp;<u style="text-decoration: wavy underline;">to my friend</u></q></strong></p>
<p><strong><q><u>Ja</u> dal <u style="text-decoration: double underline;">knigų</u>&nbsp;<u style="text-decoration: wavy underline;">prijatelju</u>.</q></strong></p>

<h2 id="gen">Genitive</h2>
<p>
    The genitive case is commonly used to show posession. It gets
    applied to the posessor rather than than the posessed, similar
    to the English “'s” suffix.
</p>
<p>
    Another way to think about it (which
    will be helpful later) is as equivilant or corresponding to the
    English word “of”. As in “the book of knowledge” or “the Cliffs
    of Dover”. Remember this. I'll even put an interesting icon here
    so that you can remember this later:
    <span class="material-symbols-rounded">table_lamp</span>
</p>

<h2 id="loc">Locative</h2>
<p>
    The locative case shows a location (metaphorical or literal). For
    example:
</p>
<p><q><strong>Ja jesm v <u>domu</u></strong></q></p>
<p><q><strong>I am at <u>home</u></strong></q></p>
or
<p><q><strong>V <u>lětu</u> jesť siĺno goreče</strong></q></p>
<p><q><strong>In <u>summer</u> it's very hot</strong></q></p>

<h2 id="ins">Instrumental</h2>
<p>
    Instrumental is typically used with the meaning of “with” in
    English. Be it “alongside with” or “by means of”. Examples are:
</p>
<p><q><strong>Idem vškolų s <u>mojimi prijateljami</u> vśaky deń</strong></q></p>
<p><q><strong>I go to school with <u>my friends</u> every day</strong></q></p>
or
<p><q><strong>Udarjajų gvozd <u>mlatkom</u></strong></q></p>
<p><q><strong>I hit the nail with a <u>hammer</u></strong></q></p>

<h2 id="voc">Vocative</h2>
<p>
    Vocative is when you are calling to someone/something and
    talking directly to them or wanting to grab their attention.
    For example:
    <br>
    <br>
    <q><strong><i>Sine</i></strong>, prihodi malo!</q>
    <br>
    <q><strong><i>Son</i></strong>, come for a bit!</q>
    <br>
    <br>
    <q>Čemu ty to sdělal, <strong><i>Dimitre</i></strong>?</q>
    <br>
    <q>Why did you do this, <strong><i>Dimitr</i></strong>?</q>
    <br>
    <br>
    <q><strong><i>Bože</i></strong> moj...</q>
    <br>
    <i>(Literally) </i>
    <q><strong><i>Oh</i></strong>, my <strong><i>God</i></strong></q>
</p>

<p></p>

<h1 id="writing">
    How to write in Interslavic
    <!-- <br> &nbsp; (Orthography and spelling) -->
</h1>





    </div>
</div>
