<learn-page-template>



<h1 id="cases">Meaning of Cases</h1>
<h2 id="what-are-cases">What are cases?</h2>
<p>
    In most Slavic languages, alongside with grammatical gender (like in
    languages such as German and Spanish) and grammatical number (the
    difference between “duck” and “ducks”), there is a declension
    category called a “Case.” These cases help to communicate the
    <app-phrase-with-more-info phrase="syntactical role">
    </app-phrase-with-more-info> of any given word in a given sentence.
</p>
<app-phrase-explaination explaination
="The syntactical role expresses how a word in a sentence relates to
the others with regards to the action. Basically stuff like the subject
and object of a sentence. And if you don't know what that is, the
subject is the one who is performing the action (the verb), and the
object is the one recieving it. In Slavic languages, this idea extends to
posession, location, and even method/instrument as you'll read futher."
></app-phrase-explaination>
<p>
    And a lot of the times when there is a
    <app-phrase-with-more-info phrase="preposition"></app-phrase-with-more-info>
    before a word, the word takes a special case. As you'll see in the
    <a routerLink="/learn/theory/prepositions">Prepositions</a> section.
    <strong class="note">
        (Don't go there yet! You still need to understand cases.)
    </strong>
</p>

<app-phrase-explaination explaination
="Prepositions are words like english “to” “from” “towards” “on”
“with” “at” “on” “in” and so on."
></app-phrase-explaination>

<p>
    To recap, since it is important for you to understand this idea before you read further,
    just like how in English you can't say “I see he” <i class="note">(Who sees whom??)</i>, you
    have to say “I see him”, in Interslavic you must mark the following
    <strong>seven</strong> cases (don't be scared, they're not that complex).
</p>

<h2 id="nom">Nominative</h2>
<p>
    This is the default case, the root form almost. It is used in the
    dictionary form <i>(“lemma form”)</i> of words and when the word
    in question is the <app-phrase-with-more-info phrase="subject of a sentence">
    </app-phrase-with-more-info>. This is probably the case most
    intuitive to you and the one you mostly think in as an English speaker.
</p>

<p><q><strong><u>I</u> speak. — <u>Ja</u> govorjų.</strong></q></p>
<p><q><strong><u>You</u> go. — <u>Ty</u> ideš.</strong></q></p>
<p><q><strong><u>The woman</u> sees. — <u>Žena</u> vidi.</strong></q></p>
<p>And so on.</p>

<p><i>Think “<u>Nom</u>inative” — “Name”</i></p>

<h2 id="acc">Accusative</h2>
<p>
    This is the case of the <app-phrase-with-more-info phrase="direct object">
    </app-phrase-with-more-info>. It is used when the word in question is
    the direct recipient of the action.
</p>
<p><i>Think “<u>Accus</u>ative” — “Accused”</i></p>
<p>
    The difference in Interslavic between Nominative and Accusative is
    somewhat analogous to the difference in English between “he” and “him”.
    Often, words with this case can be replaced by a simple “him”/“her”.
</p>
<h3><i>Wait, what are the “subject” and “direct object”?</i></h3>
<div class="example">
  <p>
    Take the English example <u>“I saw my friend.”</u>
  </p>
  <p>
    Here,

    <br>

    <i>“I”</i> is the <strong><i>subject</i></strong>
    <i class="note"> (the person who is doing the seeing)</i>, and

    <br>

    <i>“my friend”</i> is the <strong><i>direct object</i></strong>
    <i class="note"> (the person being seen)</i>
  </p>
  <p>
    Therefore,
    <br>
    <i>“I”</i> would take the <u style="text-decoration: solid underline;"><strong>Nominative</strong></u>, and
    <br>
    <i>“my friend”</i> would take the <u style="text-decoration: wavy underline;"><strong>Accusative</strong></u>.
  </p>
  <p><strong><q><u style="text-decoration: solid underline;">I</u> saw <u style="text-decoration: wavy underline;">my friend</u></q></strong></p>
  <p><strong><q><u style="text-decoration: solid underline;">Ja</u> viděl <u style="text-decoration: wavy underline;">mojego prijatelja</u></q></strong></p>
  <p>
    And finally notice we can replace with “him” here:
  </p>
  <p><strong><q><u style="text-decoration: solid underline;">I</u> saw <u style="text-decoration: wavy underline;">him</u> (my friend)</q></strong></p>
</div>

<h2 id="gen">Genitive</h2>
<p>
    Okay, this one is a bit simpler:
</p>
<p>
    The genitive case is most commonly used to show posession. Similar
    to the English “'s” suffix. That's it!
</p>
<p><q><strong><u>My colleague's</u> dog.</strong></q></p>
<p><q><strong>Pes <u>mojego kolegy</u>.</strong></q></p>
<p> One last thing:
    Another way to think about it (which
    will be helpful later) is as equivilant or corresponding to the
    English word “of”. As in “the book of knowledge” or “the Cliffs
    of Dover”.
</p>
<p><q><strong>(The dog <u>of my colleague</u>)</strong></q></p>
<p>
    Remember this. I'll even put an interesting icon here
    so that you can remember this later:
    <span class="material-symbols-rounded">table_lamp</span>
</p>

<h2 id="loc">Locative</h2>
<p>
    The locative case is even simpler: it shows a location
    (either metaphorical or literal). For example:
</p>
<p><q><strong>I am at <u>home</u></strong></q></p>
<p><q><strong>Ja jesm v <u>domu</u></strong></q></p>
or
<p><q><strong>In <u>summer</u> it's very hot</strong></q></p>
<p><q><strong>V <u>lětu</u> jesť siĺno gorečo</strong></q></p>
<p><i>Think “<u>Loc</u>ative” — “Location”</i></p>

<h2 id="dat">Dative</h2>
<p>
    Dative is the case of the <app-phrase-with-more-info phrase="indirect object">
    </app-phrase-with-more-info>. <strong>To</strong> whom the action is being
    commited. The most common example is with phrases relating to giving
    something <strong>to</strong> someone.
</p>
<div class="example">
  <p>
    Again take an English example <u>“I gave the book to my friend.”</u>
  </p>
  <p>
    Here,

    <br>

    <i>“I”</i> is the <strong><i>subject</i></strong>
    <i class="note"> (the person who is doing the giving)</i>,
    <br>
    <i>“the book”</i> is the <strong><i>direct object</i></strong>
    <i class="note"> (the thing being given)</i>, AND
    <br>
    <i>“my friend”</i> is the <strong><i>indirect object</i></strong>
    <i class="note"> (the person <strong>to whom</strong> the book is being given)</i>
  </p>
  <p>
    Therefore,
    <br>
    <i>“I”</i> would take the <u style="text-decoration: solid underline;"><strong>Nominative</strong></u>,
    <br>
    <i>“the book”</i> would take the <u style="text-decoration: wavy underline;"><strong>Accusative</strong></u>, and
    <br>
    <i>“my friend”</i> would take the <u style="text-decoration: double underline;"><strong>Dative</strong></u>.
  </p>
  <p><strong><q>
      <u style="text-decoration: solid underline;">I</u> gave
      <u style="text-decoration: wavy underline;">the book</u>&nbsp;
      <u style="text-decoration: double underline">to my friend</u>
  </q></strong></p>
  <p><strong><q>
      <u style="text-decoration: solid underline;">Ja</u>
      dal <u style="text-decoration: wavy underline;">knigų</u>&nbsp;
      <u style="text-decoration: double underline">mojemu prijatelju</u>
  </q></strong></p>
  <p>And notice we can replace with “to her” here:</p>
  <p><strong><q>
      <u style="text-decoration: solid underline;">I</u> gave
      <u style="text-decoration: wavy underline;">the book</u>&nbsp;
      <u style="text-decoration: double underline">to her</u>
  </q></strong></p>
</div>

<h2 id="ins">Instrumental</h2>
<p>
    Instrumental is typically used with the meaning of “with” in
    English. Be it “alongside with” or “by means of”. Examples are:
</p>
<p><q><strong>Idem vškolų s <u>mojimi prijateljami</u> vśaky deń</strong></q></p>
<p><q><strong>I go to school with <u>my friends</u> every day</strong></q></p>
or
<p><q><strong>Udarjajų gvozd <u>mlatkom</u></strong></q></p>
<p><q><strong>I hit the nail with (using) a <u>hammer</u></strong></q></p>

<h2 id="voc">Vocative</h2>
<p>
    Vocative is when you are calling to someone/something and
    talking directly to them or wanting to grab their attention.
    For example:
    <br>
    <br>
    <q><strong><i>Sine</i></strong>, prihodi malo!</q>
    <br>
    <q><strong><i>Son</i></strong>, come for a bit!</q>
    <br>
    <br>
    <q>Čemu ty to sdělal, <strong><i>Dimitre</i></strong>?</q>
    <br>
    <q>Why did you do this, <strong><i>Dimitr</i></strong>?</q>
    <br>
    <br>
    <q><strong><i>Bože</i></strong> moj</q>
    <br>
    <i>(Literally) </i>
    <q><strong><i>Oh</i></strong>, my <strong><i>God</i></strong></q>
</p>
<p><i>Think “<u>Voc</u>ative” — “Voice”</i></p>

<p></p>

<h2 id="still confused">If you're still confused</h2>
<p>
    Cases aren't that hard of a concept, but actively thinking about them
    and identifying them, especially as a speaker of a language with barely
    any (like english), can be daunting at first. For now, I would advise
    you read through these maybe a couple more times, and then try an exercise
    I made up:
</p>
<div class="example">
  <p>
    Take any arbitraty sentence or sentences you can come up with, the longer
    the more challenging. I'll pick a fairly short example:
  </p>
  <p><q><strong>I'm at a concert with Jim.</strong></q></p>
  <p>
    Now, using what you learned above, identify as many cases as you can.
    (Note that cases should only apply to nouns, names, pronouns and adjectives.)
  </p>

  <p>And before I give you the answer, let's step through the reasoning:</p>

  <p>
    First word: <b>“I'm”</b>. What is this doing? What would this tell me if I had
    no other context? Well, it would be communicating that <b>“I”</b> is doing something.
    Which case means <b>“doing something”</b>? To be the actor of a verb? The one doing
    something? The subject? <b>Well that's the Nominative!</b>
  </p>
  <p><q><strong>
    <ruby>I'm<rp>(</rp><rt>Nominative</rt><rp>)</rp></ruby>
    &nbsp;
    at a concert with Jim.
  </strong></q></p>
  <p>
    Okay, that was pretty easy. Next word is <b>“at”</b>, well... this isn't a noun or
    adjective, so lets treat this as a “context” word. Words that communicate
    the same information that cases do. But since English doesn't have the cases
    to communicate this information, is uses these “context” words. Same goes for
    <b>“a”</b> this is an article, not a noun. Then we get to our noun: <b>“concert”</b>.
  </p>
  <p>
    Well... <b>“concert”</b> by itself doesn't really mean anything does it? So let's bring
    in those context words from before: <b>“at a”</b>. It becomes <b>“at a concert”</b>. Well... Again,
    <i>What would this communicate to me, with no more context?</i>. It's a location.
    Something is physically AT a concert. Which case is that? <b>The Locative!</b>
  </p>
  <p><q><strong>
    <ruby>I'm<rp>(</rp><rt>Nominative</rt><rp>)</rp></ruby>
    &nbsp;
    <ruby>at a concert<rp>(</rp><rt>Locative</rt><rp>)</rp></ruby>
    &nbsp;
    with Jim.
  </strong></q></p>
  <p>
    Right, then we have <b>“with”</b>. This is a context word. Noted.
    The next word is <b>“Jim”</b>, this is a name, a PHYSICAL THING
    OR PERSON, so it must take a case. Bringing in the context:
    <b>“with Jim”</b>. Which case meant “with”? “Alongside”? <b>The Instrumental!</b>
  </p>
  <p><q><strong>
    <ruby>I'm<rp>(</rp><rt>Nominative</rt><rp>)</rp></ruby>
    &nbsp;
    <ruby>at a concert<rp>(</rp><rt>Locative</rt><rp>)</rp></ruby>
    &nbsp;
    <ruby>with Jim<rp>(</rp><rt>Instrumental</rt><rp>)</rp></ruby>
  </strong></q></p>
</div>
<p>
  I'll leave a word of warning not to get too caught up in this exercise, and to use
  simple sentences with it only. The reason is that this is a highly simplified form
  and its only purpouse is to get you an understanding of cases, where they apply, and
  how to think about them. It doesn't take into account quirks of language, prepositions,
  or irregularities. So I would advise doing this with a couple sentences, until you get
  used to this idea, and moving on.
</p>
<p>
  Here are some example sentences you can try (answers are <a>here</a>):
</p>
<ul>
  <li><q><strong>In spring I like to hike with Jess.</strong></q></li>
  <i><b>Hint:</b> Here, ignore “like to hike”. This doesn't take a case.</i>
  <br>
  <br>

  <li><q><strong>I'll give it to you after I finish it.</strong></q></li>
  <i>
    <b>Hint:</b> Here, ignore “after”. This doesn't change anything.
    Don't ignore the second “it” though!
  </i>
  <br>
  <br>

  <li><q><strong>Greg! I haven't seen you for so long</strong></q></li>
  <i>
    <b>Hint:</b> Here, don't really worry about “for so long”.
    That's a seperate issue we'll tackle later. Think hard which case
    “Greg!” takes. He's not doing any action so it can't be the Nominative!
  </i>
  <br>
  <br>

  <li><q><strong>The car's engine broke and he's trying to fix it.</strong></q></li>
  <br>

  <li><q><strong>I love crabs!</strong></q></li>
  <br>
</ul>
<h1 id="writing">
    How to write in Interslavic
    <!-- <br> &nbsp; (Orthography and spelling) -->
</h1>



</learn-page-template>
