@import '../../variables';

div.big-help-page-wrapper {


    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;

    // larger screens
    @media only screen and (min-width: $screen-size--laptop) {
        div.small-help-page-wrapper {
            width: 85%;
        }
    }

    // tablet screens
    @media only screen and (max-width: $main-element-width--laptop) {
        div.small-help-page-wrapper {
            width: 100%;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    text-align: start;
}

h1 {
    text-indent: 2rem;
}
h2 {
    text-indent: 4rem;
}
h3 {
    text-indent: 5rem;
    margin: 1rem auto;
}
h4, h5, h6 {
    text-indent: 5.5rem;
    margin: 1rem auto;
}

p {
    text-indent: 1.5rem;
}


@media only screen and (min-width: $main-element-width--desktop) {
    div.big-help-page-wrapper {
        width: 80vw;
        padding-inline-end: 10vw;
        app-side-progress-bar {
            position: fixed;
            top: 0;
            right: 0;
            width: 20vw;
        }
    }
}

// phone screens
@media only screen and (max-width: $main-element-width--phone) {
    h1, h2, h3, h4, h5, h6 {
        text-align: start;
    }

    h1 {
        text-indent: 0.5rem;
    }
    h2 {
        text-indent: 1rem;
    }
    h3 {
        text-indent: 2rem;
        margin: 0.5rem auto;
    }
    h4, h5, h6 {
        text-indent: 3rem;
        margin: 0.5rem auto;
    }

    p {
        text-indent: 0.5rem;
    }
}
