<div class="level-info">
    <h1>Level 1</h1>
    <h2>Word -> target case</h2>
    <p>
        Each question has three columns. In the first one
        you will be presented with your word. In the second column
        there are the target case and number. And you must input your
        answer in the third column.
    </p>
    <p>
        Click on the settings icon to change localizations, appearance,
        typgraphy and such options. Click on the question mark to get
        more information on cases, what they mean, when they're used
        and so on. If you get stuck you can tap on "Hint" under the input field
        to see the gender of the word or the conjucation table.
    </p>
    <p>
        You may write your answers either in normal or etymological
        orthographies, cyrillic or latin, as you wish. But please note that
        incorrect usage of the letters “z”, “c”, “s” as opposed to “ž”, “č”, “š”
        will be deemed an error. If you are having trouble inputting these
        characters, you can find a list of Windows, MacOS, and GBoard layouts
        <a href="">here</a>
    </p>
</div>

<hr>

<div class="level-1-quiz-wrapper">
    <app-level-1-quiz-question word="brat" case="Dative"        number="singular"   answer="bratu" [showTitles]="true"></app-level-1-quiz-question>
    <app-level-1-quiz-question word="žena" case="Accusative"    number="singular"   answer="ženų"></app-level-1-quiz-question>
    <app-level-1-quiz-question word="duša" case="Instrumental"  number="plural"     answer=""></app-level-1-quiz-question>
    <app-level-1-quiz-question word="dom"  case="Locative"      number="plural"     answer="bratu"></app-level-1-quiz-question>
    <app-level-1-quiz-question word="nož"  case="Instrumental"  number="singular"   answer="bratu"></app-level-1-quiz-question>
</div>
