.level-info, .level-1-quiz-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    
    p {
        width: 85%;
        margin-top: 0;
    }
}
