.level-info, .level-1-quiz-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    // h1{
    //     margin-bottom: 0rem
    // }
    // h2 {
    //     margin-top: 0rem;
    // }
    p {
        width: 85%;
        margin-top: 0;
    }
}
