@import '../../variables';

.level-select-cards {

    // font-size: var(--font-size-cards);

    * {
        // font-size: inherit !important;
    }

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    gap: 1.2rem;

    .level-select-card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;


        h1, h2, p {
            margin: 0;
            padding: 0;
            text-indent: 0;
            text-align: center;
        }
        h2 {
            color: var(--accent);
        }

        width: 16rem;
        height: 9rem;
        border-radius: 1.2rem;
        border: solid var(--border) 0.15rem;
        overflow: hidden;
        padding: 1rem;

        &:hover, &:active {
            background: var(--accent);
            color: var(--background);
            // background-color: var(--secondary20);
            h1, h2 {
                color: var(--secondary20);
            }
        }

        // &:hover {
        //     background-color: var(--secondary);
        // }
        // &:active {
        //     background-color: var(--accent);
        //     color: var(--background);
        //     h1, h2 {
        //         color: var(--background);
        //     }
        // }
    }
}




// phone screens
@media only screen and (max-width: $main-element-width--phone) {
    .level-select-cards {
        .level-select-card {
            height: 8rem;
            width: 10rem;
        }
    }
}

