@import '../../variables';

.level-2-quiz-question-wrapper {

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 2rem;

    button {
        border-radius: 0.625rem;
        border: solid 0.15rem var(--border);
        padding: 0 1rem;

        // background-color: var(--accent);
        // color: var(--text);

        &:hover {
            background-color: var(--secondary);
        }
        &:active {
            background-color: var(--accent);
            color: var(--background);
        }
    }

    .level-2-phrase-wrapper, .level-2-phrase-wrapper>* {

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;

        .level-2-empty {
            gap: 0.5rem;

            .level-2-input {
                font-size: var(--font-size);

                background-color: var(--secondary20);
                color: var(--text);

                width: unset;
                max-width: fit-content;

                border: none;
                border-radius: 0.625rem;

                transition: all 50ms linear !important;

                text-align: center;

                &:focus, &:focus-within {
                    background-color: var(--secondary);
                    // color: var(--text);
                }
            }
        }
    }
}