<dl class="group">
    <dt>Standard Orthography</dt>
    <dd>
        <ul class="keys">
            <button>č</button>
            <button>š</button>
            <button>ž</button>
            <button>ě</button>
        </ul>
    </dd>

    <dt>Etymological Orthography</dt>
    <dd>
        <ul class="keys">
            <button>å</button>
            <button>ę</button>
            <button>ų</button>
            <button>ė</button>
            <button>ȯ</button>
            <button>ć</button>
            <button>đ</button>
        </ul>
        <ul class="keys">
            <button>ĺ</button>
            <button>ń</button>
            <button>ŕ</button>
            <button>ť</button>
            <button>ď</button>
            <button>ś</button>
            <button>ź</button>
        </ul>
        <ul class="keys">
        </ul>
    </dd>
</dl>
