@import "../../../variables";

.hue-selector {

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  width: fit-content;

  padding: 0.5rem;
  margin: 1rem;

  background-color: var(--secondary20);
  border-radius: 2rem;

  .hue {
    display: inline-block;

    width: 3rem;
    height: 3rem;

    border-radius: inherit;


    @include hover {
      &:hover {
        cursor: pointer;
      }
    }


    // display the current hue first in the list
    &.selected-hue { order: -1 }
  }


  &[collapsed="true"] {
    .hue {
      display: none;

      &.selected-hue { display: unset; }
    }
  }
}

// bigger screens
@media only screen and (min-width: $main-element-width--phone) {
  .hue-selector > * {
    flex: unset;
  }
}
// this undoes the changes for smaller screens


// smaller screens
@media only screen and (max-width: $screen-size--1080p) {

  // slightly reduce the overall margin
  .hue-selector {
    margin: 0rem;
    margin-top: 0.625rem;
    margin-inline-start: 0.7rem;
  }

  // make the hue selector wrap at 3 colors per row
  .hue-selector[collapsed="false"]{
    flex-wrap: wrap;
    width: calc(3rem * 3 + 3rem);  // 3el + 3gap
  }
}
