<div class="level-2-quiz-question-wrapper" #qwrap>
    <div class="level-2-phrase-wrapper" #phrwrap>
        <ng-container *ngFor="let word of question().phrase; index as i">

            <span *ngIf="word !== ''" class="level-2-phrase">{{word}}</span>
            <span *ngIf="word === ''"
              class="level-2-empty" id="question-{{id()}}-{{i}}">
                <!--
                    ↓ this is all a way to make the input element's
                    width match the size of the placeholder
                    (no, there's no other (good) way (I found))
                -->
                <div class="input-wrapper">
                    <div class="input-placeholder-width" aria-hidden="true">
                        ({{getPlaceholderFromPhrase(i)}})
                    </div>
                    <input #input type="text" (input)="inputted(input)"
                        class="level-2-input" id="question-{{id()}}-{{i}}"
                        placeholder="({{getPlaceholderFromPhrase(i)}})"
                        autocomplete="off"
                    />
                </div>
            </span>
        </ng-container>
    </div>

    <div class="level-2-button-wrapper">
        <button #hintButton class="level-2-hint-button"
          (click)="hint(hintButton, qwrap)">Hint</button>
        <button #checkButton class="level-2-check-button"
          (click)="checkAnswers(hintButton, checkButton, phrwrap)">Check</button>
    </div>
</div>
