@use "sass:map";
@use "sass:color";

@import 'src/variables';

.theme-selector {
    font-size: $settings-font-size - 4;

    background-color: var(--accent);
    background-color: var(--secondary20);
    color: var(--background);
    color: var(--text);
    // background-color: color.scale(map-get(map-get($themes, light), background), $whiteness: 50%);
    // background-color: lighten(map-get(map-get($themes, light), background), 5%);
    border: var(--border);
 
    width: fit-content;
    margin-inline-start: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: all 200ms ease-in-out;

    &:hover {
        background-color: var(--secondary);
        cursor: pointer;
        >* {

            background-color: var(--secondary);
        }
    }

    >button {
        font-size: 18pt;
        font-size: $settings-font-size - 4;
        border: none;
        background-color: inherit;
        color: inherit;
        aspect-ratio: 1 / 1;

        padding: 0.75rem;
        
        border-radius: 2rem;
        

        &.active-theme {
            background-color: var(--background);
            background-color: var(--accent);
            color: var(--text);
            color: var(--background);
        }
    }
}