@import "../../../variables";

$border-radius: 0.625rem;
.col {
  margin-top: 5rem;
  display: flex;
  flex-flow: column wrap;
  gap: 0.75rem;
  align-items: stretch;
  justify-content: center;

}
hr {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#word-dialogue {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 2rem;

  // phone screens
  > label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: stretch;
    gap: 0.5ch;
    > * {
      text-align: center;
      flex-grow: 1;
    }
    > input {
      width: 10ch;
    }
  }

  @media only screen and (max-width: $main-element-width--phone) {
    > label {
      flex-flow: column nowrap;
      align-items: stretch;
    }
    >label>input, button {
      width: 100%;
      height: 2rem;
    }
  }
}

// from level 2
input {
  font-size: var(--font-size);

  width: 20ch;

  border: none;
  border-radius: $border-radius;

  background-color: var(--secondary20);
  color: var(--text);

  transition: all 50ms linear !important;

  text-align: center;

  &:focus, &:focus-within {
    background-color: var(--secondary);
    // color: var(--text);
  }
}

button {
  border-radius: $border-radius;
  border: solid 0.15rem var(--border);
  padding: 0 1rem;

  // background-color: var(--accent);
  // color: var(--text);

  @include hover {
    &:hover {
      background-color: var(--secondary);
    }
  }
  @include touchscreens {
    &:active {
      &, * {
        transition: none;
      }
    }
  }
  &:active {
    background-color: var(--accent);
    color: var(--background);
  }
}

select[disabled="true"] {
  color: var(--supressed-heading);
}

hr {
  margin-top:     2rem;
  margin-bottom:  2rem;
}
