h1, h2, h3, h4, h5, h6 {
    text-align: start;
} h2 {
    padding-inline-start: 2rem;
} h3 {
    padding-inline-start: 3rem;
    margin: 1rem auto;
} h4, h5, h6 {
    padding-inline-start: 3.5rem;
    margin: 1rem auto;
}