<div class="big-help-page-wrapper">
    <div class="small-help-page-wrapper">

    
    <app-page-navigation-menu currpage="help" [navs]="[
        {id: 'cases', title: 'Cases', subheadings: [
            {id: 'what-are-cases', title: 'What are cases?'},
            {id: 'nom', title: 'Nominative'},
            {id: 'acc', title: 'Accusative'},
            {id: 'gen', title: 'Genitive'},
            {id: 'loc', title: 'Locative'},
            {id: 'dat', title: 'Dative'},
            {id: 'ins', title: 'Instrumental'},
            {id: 'voc', title: 'Vocative'},
        ]},
        {id: 'writing', title: 'How do I write Interslavic?', subheadings: [
            {id: 'keyboards', title: 'Keyboard Layouts for Windows, GBoard, and more'},
        ]},
        {id: 'links', title: 'Useful links and other learning materials'}
    ]"></app-page-navigation-menu>


<h1 id="cases">Cases</h1>
<h2 id="what-are-cases">What are cases?</h2>
<p>
    In most Slavic languages, alongside with grammatical gender (like in
    languages such as German and Spanish) and grammatical number (which
    you are surely familiar with), there is a declension category called a
    “Case.” These cases help communicate the
    <app-phrase-with-more-info phrase="syntactical role">
    </app-phrase-with-more-info>
    of any given word in a given sentence.
</p>
<app-phrase-explaination explaination
="The syntactical role is basically stuff like the subject and object
    of a sentence. And if you don't know what that is, the subject is
    the one who is performing the action (the verb), and the object
    is the one recieving it. In Slavic languages, this extends to
    posession, location, and even method/instrument as you'll read futher."
></app-phrase-explaination>
  
<p>
    A lot of the times when there is a
    <app-phrase-with-more-info phrase="preposition">
    </app-phrase-with-more-info>
    before a word, the word
    takes a special case. As you'll see in the
    <a href="/help#prepositions">Prepositions</a> section.
</p>

<app-phrase-explaination explaination
="Prepositions are words like english “to” “from” “on” “at” “towards”
and so on."
></app-phrase-explaination>

<h2 id="nom">Nominative</h2>
<p>
    The default case. It is used in the dictionary <i>(<q>lemma</q>)</i> form of words
    and when the word in question is the subject of a sentence. For
    example:
</p>

<h2 id="acc">Accusative</h2>
<p>
    This is the case of the direct object. It is used when the word
    in question is the direct recipient of the action.
</p>

<h2 id="gen">Genitive</h2>
<p>
    The genitive case is commonly used to show posession. It gets
    applied to the posessor rather than than the posessed, similar
    to the English “'s” suffix . There
    are also other uses of the case:
</p>
<p>
    And it is also used with the following prepositions:
</p>

<h2 id="loc">Locative</h2>
<p>
    The locative case shows a location (metaphorical or literal). For
    example:
</p>
<p>
    The prepositions are:
</p>
<p>
    And contexts in which you are also likely to encounter Locative
    include:
</p>

<h2 id="dat">Dative</h2>
<p>
    Dative is the case of the indirect object. <strong>To</strong>
    whom the action is being commited. The most common example is
    with phrases relating to giving something <strong>to</strong>
    someone. For example:
</p>

<h2 id="ins">Instrumental</h2>
<p>
    Instrumental is typically used with the meaning of "with" in
    English. Be it "alongside" or "by means of". Examples are:
</p>
<p>
    The prepositions that require instrumental are:
</p>

<h2 id="voc">Vocative</h2>
<p>
    Vocative is when you are calling to someone/something and
    talking directly to them or wanting to grab their attention.
    <br>
    For example:
</p>

<h1 id="prepositions">Prepositions</h1>


<h2 id="gen-prepos">With Genitive</h2>
<p>
    Prepositions are used, which imply movement away or out of a location.
    <br>
    <i style="color: var(--supressed-heading);">
        (And really, that just happens to include the better part of all the prepositions
        in Interslavic.)
    </i>
</p>
<ul style="columns: 2;">
    <li><strong>iz</strong> – from, out of</li>
    <li><strong>iz-medžu</strong> – from between</li>
    <li><strong>iz-nad</strong> – from above</li>
    <li><strong>iz-pod</strong> – from under</li>
    <li><strong>iz-prěd</strong> – from before</li>
    <li><strong>iz-srěd</strong> – from among</li>
    <li><strong>iz-za</strong> – from behind</li>
    <li><strong>od</strong> – of, from (away from); since; by (agent)</li>
    <li><strong>u</strong> – at, at the place of</li>
</ul>
<p>Which includes prepositions for relative location,</p>
<ul style="columns: 2;">
    <li><strong>blizko</strong> – near, close to</li>
    <li><strong>kolo</strong> – next to, around</li>
    <li><strong>naprotiv</strong> – opposite</li>
    <li><strong>okolo</strong> – around; about, approximately</li>
    <li><strong>podle</strong> – near, beside</li>
    <li><strong>pored</strong> – next to</li>
    <li><strong>posrěd</strong> – amidst, in the middle of, among</li>
    <li><strong>povrh</strong> – to the upper side of, atop</li>
    <li><strong>srěd</strong> – among, amid</li>
    <li><strong>vně</strong> – outside of</li>
    <li><strong>vnutri</strong> – inside, within</li>
</ul>
<p>For movement relative to the object,</p>
<ul>
    <li><strong>mimo</strong> – past, by</li>
    <li><strong>poprěk</strong> – across</li>
    <li><strong>vdolž</strong> – along</li>
</ul>
<p>For time,</p>
<ul>
    <li><strong>podčas</strong> – during, so long as</li>
    <li><strong>poslě</strong> – after</li>
    <li><strong>za</strong> – during, in times of</li>
</ul>
<p>And some other miscellaneous grammatical prepositions:</p>
<ul style="columns: 2;">
    <li><strong>bez</strong> – without</li>
    <li><strong>dlja</strong> – for</li>
    <li><strong>do</strong> – to, till</li>
    <li><strong>kromě</strong> – except</li>
    <li><strong>odnosno</strong> – concering, about</li>
    <li><strong>pomimo</strong> – in spite of, despite</li>
    <li><strong>posrědstvom</strong> – by means of, using</li>
    <li><strong>suprotiv</strong> – contrary to</li>
    <li><strong>vměsto</strong> – instead of</li>
    <li><strong>vslěd</strong> – following, because of, as a result of</li>
</ul>


<h2 id="acc-prepos">With Accusative</h2>
<p>Prepositions are used, which imply movement towards/into/through a location:</p>
<ul>
    <li><strong>črěz, prěz</strong> – through, across, via</li>
    <li><strong>po</strong> – for (in pursuit of, to get something); for (the Xth time); up to</li>
    <li><strong>za</strong> – for, because of, due to, in exchange for, in favour of, instead of</li>
</ul>


<h2 id="dat-prepos">With Dative</h2>
<p>
    Prepositions, implying the <i>action</i> is directed towards
    something/someone
    <br>
    <i>(similarly to the meaning of the case itself)</i>
</p>
<ul>
    <li><strong>blagodare, dekujuči, hvala</strong> – thanks to</li>
    <li><strong>k, ko</strong> – to, towards (direction)</li>
    <li><strong>po</strong> – according to, per, by, in the manner of; for ... each, for ... a piece 	protiv – against</li>
    <li><strong>soglasno, suglasno</strong> – according to</li>
</ul>

<h2 id="ins-prepos">With Instrumental</h2>
<p>
    Similar to the meaning of the case itself, the prepositions imply
    a method or accompaniment.
</p>
<ul>
    <li><strong>s, so</strong> – with, together with; by means of, using </li>
    <li><strong>ponad</strong> – above, beyond</li>
</ul>

<h2 id="loc-prepos">With Locative</h2>
<p>The Locative is used with the following prepositions:</p>
<ul>
    <li><strong>o, ob</strong> – about; concerning, regarding</li>
    <li><strong>po</strong> – after, following; along(side); throughout, round, all over</li>
    <li><strong>pri</strong> – near; during (rule of a king)</li>
</ul>

<h2 id="acc-loc">With Accusative and Instrumental</h2>
<p>
    There are five prepositions for place (and time) in Interslavic,
    which can take either the Accusative or Instrumental case. Which
    case is used depends on the meaning:
</p>
<p>
    The Instrumental is used when the location is stable. For example
</p>


<h1 id="writing">
    How to write in Interslavic.
    <!-- <br> &nbsp; (Orthography and spelling) -->
</h1>





    </div>
</div>