@import "../../../variables";

.segmented-single-selection {

    overflow: hidden;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
    gap: 0.07rem;

    width: 75%;

    border: solid 0.07rem var(--border);
    border-radius: 1rem;
    background-color: var(--border);


    >* {
        flex: 1 1 0;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

// larger screens
@media only screen and (min-width: $screen-size--laptop) {
    .segmented-single-selection {
        width: 75%;
    }
}

// smaller screens
@media only screen and (max-width: $main-element-width--laptop) {
    .segmented-single-selection {
        width: 100%;
    }
}

// phone screens
@media only screen and (max-width: $main-element-width--phone) {
    .segmented-single-selection {
        font-size: var(--font-size) !important;
        flex-wrap: wrap;

        max-width: 90vw;


        > button {
            flex: unset;
            flex-grow: 1;

            min-width: max-content;
            width: 33%;

            font-size: calc(var(--font-size) * 1.1) !important;
        }
    }
}
