@use 'sass:color';

$theme: light;


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$font-sans: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
$font-serif: 'Vollkorn', 'Roboto Slab', 'Noto Serif', 'Helvetica', 'Arial', sans-serif;
$font-size: 22pt;
$settings-font-size: 22pt;

$themes: (
  
  // https://www.realtimecolors.com/?colors=210d11-f7e8eb-792032-e17086-b51c3b&fonts=Poppins-Poppins //
  light: (
    text: #210d11,
    background: #f7e8eb,
    primary: #792032,
    secondary: #e17086,
    accent: #b51c3b,
    
    alt-background: darken(#f7e8eb, 35%),
    
    border: hsla(348, 25%, 41%, 0.1),
    
    supressed-heading: color.scale(#210d11, $whiteness: 55%),
    
    secondary20: lighten(#e17086, 20%),
    
    context-btn-bg: #b51c3b80, // accent 0.25 opacity
    context-btn-text: #f7e8ebbf,  // background 0.75 opacity
  ),
  dark: (
    text: #f2dee2,
    background: #17080b,
    primary: #df8698,
    secondary: #8f1e35,
    // secondary-yellow: hsl(45, 65%, 34%),
    accent: #e34a69,
    // accent-yellow: hsl(45, 73%, 59%),

    
    alt-background: lighten(#17080b, 35%),
    
    border: hsla(348, 25%, 59%, 0.1),
    
    secondary20: darken(#8f1e35, 20%),

    supressed-heading: color.scale(#210d11, $lightness: 60%),

    context-btn-bg: #e34a6980, // accent 0.25 opacity
    context-btn-text: #17080bbf,  // background 0.75 opacity
  ),
);





:root {
    @each $color, $value in map-get($themes, $theme) {
        @debug $color, $value;
        --#{$color}: #{$value};
    }
}

body[theme='dark'] {
    @each $color, $value in map-get($themes, dark) {
        --#{$color}: #{$value};
    }
}
body[theme='light'] {
    @each $color, $value in map-get($themes, light) {
        --#{$color}: #{$value};
    }
}

// @media (prefers-color-scheme: dark) {
//     @each $color, $value in map-get($themes, dark) {
//         --#{$color}: #{$value};
//     }
// }
// @media (prefers-color-scheme: light) {
//     @each $color, $value in map-get($themes, light) {
//         --#{$color}: #{$value};
//     }
// }