@use 'sass:color' as color;
@use 'sass:map' as map;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

$font-sans: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'Vollkorn', 'Roboto Slab', 'Noto Serif', 'Helvetica', 'Arial', sans-serif;
$font-sizes: (
  font-size: 20pt,
  font-size-cards: 20pt,  // used in the level selection cards
  font-size-topbar: 20pt,
  // settings-font-size: 22pt,
  font-size-settings: 22pt,
);
$font-size: 20pt;
$font-size-cards: 20pt;  // used in the level selection cards
$font-size-topbar: 20pt;
$font-size-settings: 22pt;


body {
  @each $varname, $value in $font-sizes {
    --#{$varname}: #{$value};
  }
}


$main-element-width--desktop: 100rem;
$main-element-width--laptop: 78rem;
$main-element-width--tablet: 56rem;
$main-element-width--phone: 56rem;
$main-element-leftandright-padding-each: 2rem;
$main-element-leftandright-padding-total: calc($main-element-leftandright-padding-each * 2);
$screen-size--desktop: $main-element-width--desktop;
$screen-size--laptop: calc($main-element-width--laptop + 1rem);
$screen-size--tablet: calc($main-element-width--tablet + 1rem);
$screen-size--phone: calc($main-element-width--tablet + 1rem);


$desktop: "only screen and (min-width: #{$main-element-width--desktop})";
// $laptop: "only screen and (min-width: #{$main-element-width--desktop})";
// $laptop: "only screen (min-width: #{$screen-size--laptop}) and (max-width: #{$main-element-width--desktop})";
$laptop: "only screen and (min-width: #{$screen-size--laptop}) and (max-width: #{$main-element-width--desktop})";






// /* Smartphones (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 320px) 
// and (max-device-width : 480px) {
//   $font-size: 12pt;
// }

// /* Smartphones (landscape) ----------- */
// @media only screen 
// and (min-width : 321px) {
//   $font-size: 12pt;
// }

// /* Smartphones (portrait) ----------- */
// @media only screen 
// and (max-width : 320px) {
//   $font-size: 12pt;
// }

// /* iPads (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {
//   $font-size: 12pt;
// }

// /* iPads (landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : landscape) {
//   $font-size: 12pt;
// }

// /* iPads (portrait) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
//   $font-size: 12pt;
// }

// /* Desktops and laptops ----------- */
// @media only screen 
// and (min-width : 1224px) {
//   $font-size: 20pt;
// }

// /* Large screens ----------- */
// @media only screen 
// and (min-width : 1824px) {
//   $font-size: 22pt;
// }



$theme-dark: dark;
$theme-light: light;
$theme: light;


// ~52 step
$hue-red:           348;
$hue-orange:        40;
$hue-yellow:        58;
$hue-yellow-green:  92;
$hue-green:         144;
$hue-goluboy:       196;
$hue-blue:          222;
$hue-blue-purple:   250;
$hue-purple:        264;
$hue-magenta:       286;
$hue-pink:          300;

$hue: $hue-red;

// @media (prefers-color-scheme: dark) {
//   $theme: $theme-dark;
// }
// @media (prefers-color-scheme: light) {
//   $theme: $theme-light;
// }

html {
  --hue-red:           348;
  --hue-orange:        40;
  --hue-yellow:        58;
  --hue-yellow-green:  92;
  --hue-green:         144;
  --hue-goluboy:       196;
  --hue-blue:          222;
  --hue-blue-purple:   250;
  --hue-purple:        264;
  --hue-magenta:       286;
  --hue-pink:          300;

  --hue: var(--hue-red);
}



// https://www.realtimecolors.com/?colors=210d11-f7e8eb-792032-e17086-b51c3b&fonts=Poppins-Poppins //
$themes: (
  
  light: (
    text: (s: 43%, l: 9%, a: 1.0),
    background: (s: 48%, l: 94%, a: 1.0),
    primary: (s: 58%, l: 30%, a: 1.0),
    secondary: (s: 65%, l: 66%, a: 1.0),
    accent: (s: 73%, l: 41%, a: 1.0),
    
    alt-background: (s: 48%, l: 59%, a: 1.0),  // background 35% darker
    secondary20: (s: 65%, l: 86%, a: 1.0),  // secondary 20% lighter
    
    border: (s: 24%, l: 41%, a: 0.1),
    
    supressed-heading: (s: 57%, l: 36%, a: 1.0),
    h3-heading: (s: 43%, l: 40%, a: 1.0),  // #656565
    
    context-btn-bg: (s: 73%, l: 41%, a: 0.5),  // accent 0.25 opacity
    context-btn-text: (s: 48%, l: 94%, a: 0.75),  // background 0.75 opacity
  ),
  dark: (
    text: (s: 43%, l: 91%, a: 1.0),
    background: (s: 48%, l: 6%, a: 1.0),
    primary: (s: 58%, l: 70%, a: 1.0),
    secondary: (s: 65%, l: 34%, a: 1.0),
    accent: (s: 73%, l: 59%, a: 1.0),

    alt-background: (s: 48%, l: 41%, a: 1.0),  // background 35% lighter
    secondary20: (s: 65%, l: 14%, a: 1.0),  // secondary 20% darker
    
    border: (s: 25%, l: 59%, a: 0.1),

    supressed-heading: (s: 43%, l: 64%, a: 1.0),
    h3-heading: (s: 43%, l: 60%, a: 1.0),

    context-btn-bg: (s: 73%, l: 59%, a: 0.5),  // accent 0.25 opacity
    context-btn-text: (s: 48%, l: 6%, a: 0.75),   // background 0.75 opacity
  ),
);





// :root {
//     @each $color, $value in map-get($themes, $theme) {
//         @debug $color, $value;
//         --#{$color}: #{$value};
//     }
// }

body[theme='dark'] {
  @each $color, $values in map-get($themes, $theme-dark) {
      --#{$color}: hsla(var(--hue), #{map.get($values, s)}, #{map.get($values, l)}, #{map.get($values, a)});
  }
  --accent-sl: #{map-get($themes, $theme-dark, accent, s)}, #{map-get($themes, $theme-dark, accent, l)};
}
body[theme='light'] {
  @each $color, $values in map-get($themes, $theme-light) {
    --#{$color}: hsla(var(--hue), #{map.get($values, s)}, #{map.get($values, l)}, #{map.get($values, a)});
  }
  --accent-sl: #{map-get($themes, $theme-light, accent, s)}, #{map-get($themes, $theme-light, accent, l)};
}
