<div class="col">

<label id="author-title">
  Author:
  <input name="author" placeholder="unknown" type="text" #author>
  Title:
  <input name="title" placeholder="unknown" type="text" #title>
</label>

<button class="outline" id="export" (click)="export(author, title)">Export</button>

<hr>


<div *ngFor="let question of this.quiz.questions" style="display: flex; flex-direction: column; align-items: center;">
  <app-level-1-quiz-question [question]='question' [noMargin]="true"/>
</div>
<p *ngIf="this.quiz.questions.length === 0">
Quiz will appear here. <i>(Add some questions!)</i>
</p>

<hr>

Input:
<label id="word">
  <input name="word" placeholder="(noun)" type="text" #word>
  <app-segmented-single-selection [options]="['(auto)', 'Masc.', 'Fem.', 'Neut.']" [(selection)]="disgenSelection"/>
</label>
Target:
<label id="target">
  <input style="display:none;" > <!--to avoid hovering on label-->
  <app-segmented-single-selection [options]="['Nom.', 'Acc.', 'Gen.', 'Loc.', 'Dat.', 'Ins.', 'Voc.']" [(selection)]="tarcasSelection"/>
  <app-segmented-single-selection [options]="['singular', 'plural']" [(selection)]="tarnumSelection"/>
</label>

<button class="outline" id="confirm" (click)="add(word)">Add</button>

</div>
