<h1>Level 1</h1>
<h2>Word -> target case</h2>

a å b c č ć d đ d́ e ė ě ę f g h i j k <br>
l ĺ m n ń o ȯ p q r ŕ s š ś t t́ u ų v <br>
w x y z ž ź <br>
A Å B C Č Ć D Đ D́ E Ė Ě Ę F G H I J K <br>
L Ĺ M N Ń O Ȯ P Q R Ŕ S Š Ś T T́ U Ų V <br>
W X Y Z Ž Ź
<h1>Level 1</h1>
<h2>Word -> target case</h2>

a å b c č ć d đ d́ e ė ě ę f g h i j k <br>
l ĺ m n ń o ȯ p q r ŕ s š ś t t́ u ų v <br>
w x y z ž ź <br>
A Å B C Č Ć D Đ D́ E Ė Ě Ę F G H I J K <br>
L Ĺ M N Ń O Ȯ P Q R Ŕ S Š Ś T T́ U Ų V <br>
W X Y Z Ž Ź



<div class="exercise-target-case">
<div class="word" word="brat">brat</div>
<div class="target-case" case="dative"></div>
<div class="target-word"></div>
</div>
