<h1>Welcome to the <abbr title="Interslavic noun declension practice">INDP</abbr> tool!</h1>
<h2>Please select a level below:</h2>

<app-level-select-cards [levels]="[
    {levelOption: 'Level 1', routerLink: '/level-1', description: 'word to target case'},
    {levelOption: 'Level 2', routerLink: '/level-2', description: 'word in phrase'},
    {levelOption: 'Level 3', routerLink: '/level-3', description: 'word in context'},
    {levelOption: 'Level 4', routerLink: '/level-4', description: 'comprehension'},
]"></app-level-select-cards>