<div class="settings">



<h1 id="translation-settings">Translation Settings</h1>
<h2 id="language">language</h2>
<app-segmented-single-selection id="lang"
    [options]="['English', 'Međuslovjansky', 'Меджусловјанскы']"
    localStorageReference="lang"
></app-segmented-single-selection>
<h2 id="alphabet">alphabet</h2>
<app-segmented-single-selection id="script"
    [options]="['latinica', 'кирилица']"
    localStorageReference="script"
></app-segmented-single-selection>
<!-- <app-segmented-single-selection id="script"
    [options]="['latinica', 'кирилица', 'българска кирилица', 'српска ћирилица']"
    [localizations]="['en', 'ru', 'bg', 'sr']"
    [localStorageReference]="'script'"
></app-segmented-single-selection> -->

<h2 id="etymological-spelling">etymological spelling</h2>
<app-segmented-multiple-selection id="etymological-spelling-latin"
    [options]="[
        {name: 'å',   status: false},
        {name: 'ę ų', status: false},
        {name: 'ė ȯ', status: false},
        {name: 'ŕ',   status: false},
        {name: 'ĺ ń', status: false},
        {name: 'ť ď', status: false},
        {name: 'ś ź', status: false},
        {name: 'ć',   status: false},
        {name: 'đ',   status: false}
    ]"
    localStorageReference="etymological-spelling-latin"
></app-segmented-multiple-selection>


<br>

<h1 id="appearance">Appearance</h1>
<h2 id="theme">theme</h2>
Color scheme:
<app-theme-selector></app-theme-selector>

<br>

<h1>Troubleshooting</h1>
<h2>pangrams</h2>
<p>Majk rěšil ne brati četyridesetu cigaru: proigral fazanu v šahy na žalost.</p>
<p>Ćuđi děvėc už nese dȯžď i gręź. Či bųde li vśako zlo, smŕťny sȯn, i fataĺno pohlådańje?</p>
<p>Чи јест ли грєх мыслити, же западне цифры сут бољ, воњ и шок?</p>
<p lang="bg">Чи јест ли грєх мыслити, же западне цифры сут бољ, воњ и шок?</p>
<p lang="sr">Чи јест ли грєх мыслити, же западне цифры сут бољ, воњ и шок?</p>
<p>Ⱍⰻ ⰵⱄⱅ ⰾⰻ ⰳⱃⱑⱈ ⰿⱏⰹⱄⰾⰻⱅⰻ · ⰶⰵ ⰸⰰⱂⰰⰴⱀⰵ ⱌⰻⱇⱃⱏⰹ ⱄⱆⱅ ⰱⱁⰾⱐ · ⰲⱁⱀⱐ ⰻ ⱎⱁⰽ ;</p>
<h2>fonts</h2>
a å b c č ć d đ d́ ď e ė ě ę f g ǧ ǵ h ȟ i j k ǩ <br>
l ĺ ł ľ m n ń ň o ȯ p q r ŕ ř s š ś t t́ ť u ů ų <br>
v w x y z ž ź <br>
A Å B C Č Ć D Đ D́ Ď E Ė Ě Ę F G Ǧ Ǵ H Ȟ I J K Ǩ <br>
L Ĺ Ł Ľ M N Ń Ň O Ȯ P Q R Ŕ Ř S Š Ś T T́ Ť U Ů Ų <br>
V W X Y Z Ž Ź <br>
<br>
а б в г ѓ ґ д ђ е ѐ ё ѣ є ж з ѕ и і ї <br>
ѝ ӣ ј й к ќ л љ м н њ о п р с т ћ у ў <br>
ӯ ф х ц ч џ ш щ ь ы ꙑ ъ э ю я ѧ ѩ ѫ ѭ ѥ <br>
А Б В Г Ѓ Ґ Д Ђ Е Ѐ Ё Ѣ Є Ж З Ѕ И І Ї <br>
Ѝ Ӣ Ј Й К Ќ Л Љ М Н Њ О П Р С Т Ћ У Ў <br>
Ӯ Ф Х Ц Ч Џ Ш Щ Ь Ы Ꙑ Ъ Э Ю Я Ѧ Ѩ Ѫ Ѭ Ѥ<br>



</div>
