@use "sass:map";
@use "sass:color";

@import 'src/variables';

// var(--font-size): 18pt;

// .settings {
//     font-size: $settings-font-size;
// }
// body {
//     font-size: 18pt
// }

h1, h2, h3, h4, h5, h6 {
    text-align: start;
}

div.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}


// larger screens
@media only screen and (min-width: $screen-size--laptop) {
    app-segmented-single-selection, app-segmented-multiple-selection {
        display: block;
        width: unset;
    }
    .row:has(app-hue-selector) {
        display: flex;
    }
}

// smaller screens
@media only screen and (max-width: $main-element-width--laptop) {

    app-segmented-single-selection, app-segmented-multiple-selection {
        display: block;
        width: 100% !important;
    }
    .row:has(app-hue-selector) {
        display: block;
    }
}

// phone screens
@media only screen and (max-width: $main-element-width--phone) {
    .row:has(app-hue-selector) {
        display: flex;
        align-items: flex-start;
        align-items: stretch;
        app-hue-selector {
            margin-top: 0rem;
        }
    }
}
