@use "sass:map";
@use "sass:color";

@import 'src/variables';

h1, h2, h3, h4, h5, h6 {
    text-align: start;
}
h1 {
    margin-bottom: 1rem;
}
h2 {
    font-size: $font-size + 8;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--supressed-heading);
}
