<h1>Appearance</h1>
<h2>theme</h2>

Color scheme:
<div class="theme-selector">
    <button id="theme-selection-light" class="active-theme" click="document.querySelector('html').setAttribute('theme', 'light');">light</button>
    <button id="theme-selection-dark" click="document.querySelector('html').setAttribute('theme', 'dark');">dark</button>
</div>

<h1>Troubleshooting</h1>
<h2>fonts</h2>
a å b c č ć d đ d́ e ė ě ę f g h i j k <br>
l ĺ m n ń o ȯ p q r ŕ s š ś t t́ u ų v <br>
w x y z ž ź <br>
A Å B C Č Ć D Đ D́ E Ė Ě Ę F G H I J K <br>
L Ĺ M N Ń O Ȯ P Q R Ŕ S Š Ś T T́ U Ų V <br>
W X Y Z Ž Ź

<script defer>
    const darkThemeBtn = document.querySelector('#theme-selection-dark')
    const lightThemeBtn = document.querySelector('#theme-selection-light')

    darkThemeBtn.addEventListener('click', toggleTheme);
    lightThemeBtn.addEventListener('click', toggleTheme);

    function toggleTheme() {
        const html = document.querySelector('html');
        const currentTheme = html.getAttribute('theme');

        if (currentTheme === 'dark' || currentTheme === null || currentTheme === undefined) {
            
        } else {
            setTheme('dark');
        }
    }

    function setTheme(theme) {
    }
</script>