<h1>Translation Settings</h1>
<h2>alphabet</h2>
<!-- <label for="alphabet">alphabet: -->
    <!-- <select id="alphabet" name="alphabet">
        <option value="volvo">abeceda</option>
        <option value="saab">кирилица</option>
    </select> -->
<!-- </label> -->

<!-- abeceda <app-switch></app-switch> кирилица -->
<!-- <app-segmented-single-selection
    [options]="[
        {name: 'abeceda', status: false},
        {name: 'кирилица', status: false},
    ]"></app-segmented-single-selection> -->

<h2>etymological spelling</h2>
<app-segmented-multiple-selection
    [options]="[
        {name: 'å', status: false},
        {name: 'ę ų', status: false},
        {name: 'ė ȯ', status: false},
        {name: 'ŕ', status: false},
        {name: 'ĺ ń', status: false},
        {name: 't́ d́', status: false},
        {name: 'ś ź', status: false},
        {name: 'ć', status: false},
        {name: 'đ', status: false}
    ]"></app-segmented-multiple-selection>


<br>

<h1>Appearance</h1>
<h2>theme</h2>

dark mode: <app-switch></app-switch>
Color scheme:
<app-theme-selector></app-theme-selector>

<h1>Troubleshooting</h1>
<h2>fonts</h2>
a å b c č ć d đ d́ e ė ě ę f g h i j k <br>
l ĺ m n ń o ȯ p q r ŕ s š ś t t́ u ų v <br>
w x y z ž ź <br>
A Å B C Č Ć D Đ D́ E Ė Ě Ę F G H I J K <br>
L Ĺ M N Ń O Ȯ P Q R Ŕ S Š Ś T T́ U Ų V <br>
W X Y Z Ž Ź <br>
<br>
а б в г ѓ ґ д ђ е ѐ ё ѣ є ж з ѕ и і ї <br>
ѝ ӣ ј й к ќ л љ м н њ о п р с т ћ у ў <br>
ӯ ф х ц ч џ ш щ ь ы ъ э ю я <br>
А Б В Г Ѓ Ґ Д Ђ Е Ѐ Ё Ѣ Є Ж З Ѕ И І Ї <br>
Ѝ Ӣ Ј Й К Ќ Л Љ М Н Њ О П Р С Т Ћ У Ў <br>
Ӯ Ф Х Ц Ч Џ Ш Щ Ь Ы Ъ Э Ю Я <br>
